@model TINH_FINAL_2256.Models.Category

@{
    ViewData["Title"] = "Thęm danh m?c - Admin";
}

<h2>Thęm danh m?c</h2>

<form asp-area="Admin" asp-controller="Category" asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group mb-2">
        <label asp-for="Name">Tęn</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Thęm</button>
    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-secondary">H?y</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
