@page
@model TINH_FINAL_2256.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Bạn đã đăng xuất thành công.</p>
</header>
